@import '../core/variables';

.header {
    padding: 10px 10px 10px;
    text-align: center;
    //border-bottom: solid 2px lightgray;
    //margin-bottom: 20px;
    font-family: $font-main;
    background-image: linear-gradient(to bottom, #91cecebc 25%, #b4c4c4bc), url("../../images/rick_and_morty_bgd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &__title {}

    &__subtitle {}

}