@import '../core/variables';
@import '../core/mixins';

.header {
    padding: 10px 10px 10px;
    text-align: center;
    font-family: $font-main;
    background-image: linear-gradient(to bottom, #91cecebc 25%, #b4c4c4bc), url("../../images/rick_and_morty_bgd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__img {
        padding: 35px;
        width: 80%;

        &:hover {
            width: 83vw;
            transition: all 0.2s ease;
        }

        @include Tablet() {
            width: 70%;
        }

        @include Desktop() {
            width: 50%;
        }
    }

}