@import '../core/variables.scss';

.main {
    padding: 10px;
}

.form {
    padding: 20px 0;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.cards {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        &--img {
            border-radius: 20px;
        }
    }
}