// fonts
$font-main: 'Montserrat', sans-serif;
$font-main2: 'Roboto', sans-serif;
$font-main3: 'Open Sans', sans-serif;
$font-secondary: 'Libre Caslon Display', serif;
$font-secondary2: 'Merriweather Sans', sans-serif;
$font-secondary3: 'Bebas Neue', sans-serif;
$font-secondary4: 'Libre Caslon Text', serif;

// colors
$color-primary: #ffffffac;
$color-primary2: #3a9196;
$color-primary3: #c3ffc0;
$color-primary4: #a7a7a7;
$color-primary5: #fff;
$color-secondary: cyan;
$color-secondary2: rgba(101, 187, 198, 0.776);
$color-secondary3: rgb(64, 255, 0);
$gradient-bgd-main: linear-gradient(0, #fafad152, #8080806a);
$gradient-bgd: linear-gradient(180deg, #fafad1, #808080ba);
$gradient-bgd2: linear-gradient(180deg, #fafad1, #b71d1d);
$gradient-bgd2: linear-gradient(90deg, #fafad1, #b71d1d);